<!doctype html>
<html lang="{{.HTMLLang}}" ng-app="tour" data-theme="auto">

<head>
{{.AnalyticsHTML}}{{.AdHTML}}    <meta charset="utf-8">
    <title>{{ui "tour.title"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script>
      (function() {
        const theme = document.cookie.match(/prefers-color-scheme=(light|dark|auto)/)?.[1]
        if (theme) {
          document.querySelector('html').setAttribute('data-theme', theme);
        }
      }())
    </script>
    <link rel="stylesheet" href="{{asset "tour/static/css/app.css"}}" />
    <link rel="stylesheet" href="{{asset "tour/static/lib/codemirror/lib/codemirror.css"}}">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{{asset "images/site-logo-32.png"}}" type="image/png" sizes="32x32">
    <link rel="icon" href="{{asset "images/site-logo.png"}}" type="image/png" sizes="512x512">
</head>

<body>
    <div class="bar top-bar">
        <div class="left">
        <a href="/"><img src="{{asset "images/go-logo-white.svg"}}" class="gopherlogo"></a>
        <a class="logo" href="/tour/list">{{ui "tour.title"}}</a>
        </div>
        <div class="right">
            <button class="header-toggleTheme js-toggleTheme" aria-label="{{ui "theme.toggle"}}">
              <img
                data-value="auto"
                class="go-Icon go-Icon--inverted"
                height="24"
                width="24"
                src="{{asset "images/icons/brightness_6_gm_grey_24dp.svg"}}"
                alt="{{ui "theme.system"}}">
              <img
                data-value="dark"
                class="go-Icon go-Icon--inverted"
                height="24"
                width="24"
                src="{{asset "images/icons/brightness_2_gm_grey_24dp.svg"}}"
                alt="{{ui "theme.dark"}}">
              <img
                data-value="light"
                class="go-Icon go-Icon--inverted"
                height="24"
                width="24"
                src="{{asset "images/icons/light_mode_gm_grey_24dp.svg"}}"
                alt="{{ui "theme.light"}}">
            </button>
            <div table-of-contents-button=".toc"></div>
            <div feedback-button></div>
        </div>
    </div>

    <div table-of-contents></div>

    <div ng-view ng-cloak class="ng-cloak"></div>

    <script src="/tour/script.js"></script>
</body>

</html>

{{define "footer"}}
<footer class="site-footer">
    <div>{{ui "footer.unofficial"}} · <a href="/">{{ui "footer.home"}}</a> · <a href="{{.GitHubURL}}" target="_blank" rel="noopener noreferrer">{{ui "footer.github"}}</a> · <a href="{{.DevelopmentLogURL}}" target="_blank" rel="noopener noreferrer">{{ui "footer.development_log"}}</a></div>
    <div>© 2026 {{.CopyrightHolder}} | <a href="{{.ICPURL}}" target="_blank" rel="noopener noreferrer">{{.ICPNumber}}</a></div>
</footer>
{{end}}
