.go-dev-course-ad {
    box-sizing: border-box;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 24px;
    padding-top: 24px;
}

.go-dev-course-ad--max-336 {
    max-width: 336px;
}

.go-dev-course-ad--max-468 {
    max-width: 468px;
}

.go-dev-course-ad--max-728 {
    max-width: 728px;
}

.go-dev-course-ad ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}

@media (min-width: 601px) {
    #left-side > .relative-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .go-dev-course-ad {
        width: calc(100% - 24px);
        margin-top: 24px;
        margin-bottom: 12px;
        padding-top: 0;
    }
}
